[submodule "YOUCODE-A2-BRIEF-16-ECOM-PRODUCT-SERVICE"]
	path = YOUCODE-A2-BRIEF-16-ECOM-PRODUCT-SERVICE
	url = https://github.com/Joual27/YOUCODE-A2-BRIEF-16-ECOM-PRODUCT-SERVICE
[submodule "YOUCODE-A2-BRIEF-16-ECOM-EUREKA-SERVER"]
	path = YOUCODE-A2-BRIEF-16-ECOM-EUREKA-SERVER
	url = https://github.com/Joual27/YOUCODE-A2-BRIEF-16-ECOM-EUREKA-SERVER
[submodule "YOUCODE-A2-BRIEF-16-ECOM-USER-SERVICE"]
	path = YOUCODE-A2-BRIEF-16-ECOM-USER-SERVICE
	url = https://github.com/Joual27/YOUCODE-A2-BRIEF-16-ECOM-USER-SERVICE
